body{
    margin: 0px;
}

.nav-item {
    padding: 0 10px;
    font-size: 15px;
}

#Header{
    height: 570px;
    text-align: left;
    padding: 100px 100px;

}

.content h1{
    font-size: 100px;
    font-family: serif;
}

.content p{
    height: 10px;
    width: 450px;
    font-family: serif;
    font: bolder;
    font-size: 15px;
}

.content button{
    background-color: black ;
    color: white;
    border-radius: 70px;
    position: relative;
    top: 130px;
    text-decoration: none;
    border: none;
    width: 100px;
    height: 30px;
    font-weight: bolder;
    box-shadow: 5px 5px 11px black;
}

.btnc{
    font-size: 13px;
}

.octocat{
    height: 400px;
    width: 400px;
    position: absolute;
    right: 100px;
    top: 130px;
}

#tilted{
    background-color: #000000;
    color: white;
    height: 600px;
    text-decoration: none;
    text-align: left;
    font-weight: bolder;
    clip-path: polygon(100% 0%, 100% 100%, 0 84%, 0 16%);
}

#tilted div{
    text-align: left;
    width: 500px;
    position: relative;
    left: 600px;
    top: 80px;
}

#tilted div h1{
    font-size: 80px;
    padding-bottom: 10px;
}

#tilted div p{
    width: 400px;
    font-size: 13.5px;
}

.card{
    width: 15rem;
    height: 22rem;
    margin: 0 20px;
    color: white;
}

.card-content{
    display: flex;
    justify-content: center;
    align-content: center;
}

.user-pic{
    width: 130px;
    height: 130px;
    margin-left: 30px ;
    margin-bottom:20px;
}
.card h5{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card p{
    font-size: 10px;
    font-weight:bolder ;
    margin-bottom: 5px;
}

.insta-btn, .fb-btn, .ld-btn{
    background-color: black;
    text-decoration: none;
    border: none;
    color: white;
}

#slides{
    background-color: #000000;
    height: 550px;
}

.black-bg{
    height: 380px;
    width: 850px;
    background-color: white;
    position: relative;
    top: 90px;
    left: 190px;
    border-radius: 22px;
}


.orange{
    width: 280px;
    height: 200px;
    background-color: #ED8611;
}

.red{
    width: 280px;
    height: 200px;
    background-color: #F76565;
}

.cyan{
    width: 280px;
    height: 200px;
    background-color: #60F2F2;
}


#blog{
    background-color: black;
    margin: 10px 40px 50px 40px;
    height: 500px;
    border-radius: 20px;
    color: white;
}

.left-div{
    text-align: left;
    width: 500px;
    padding: 70px 40px 30px 40px;
}

.left-div button{
    background-color: #E2BBF0;
    border-radius: 70px;
    text-decoration: none;
    border: none;
    width: 100px;
    height: 33px;
    font-weight: bold;
    box-shadow: 3px 1px 11px #b833eb;
}

.one, .sec, .third, .four{
    height: 200px;
    width: 200px; 
    background-color: #E2bbf0;
    border-radius: 10px;
    position: relative;
    color: black;
    box-shadow: 6px 6px 11px #b833eb;
}

.one{
    bottom: 380px;
    left: 600px;
}


.sec{
    bottom: 340px;
    left: 600px;
}

.third{
    bottom: 53rem;
    left: 870px;
    transform: rotate(-15deg);
}

.four{
    bottom: 740px;
    left: 850px;
}

#footer div{
    height: 50px;
    text-align: center;
    padding-top: 10px;
}

#footer a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-weight: bold;
}